<!DOCTYPE html>
<html lang="en">

<head>
	{% include "includes/head.shtml" with title="me"%}
	<meta name="description" content="my contact info and external links">
</head>

<body>
	{% include "includes/background.shtml" with specific="cats" %}
    {% include "includes/navbar.shtml" with title="about me!" %}
	<div class="content">
		<h2>a.k.a avery, tom, thomas, debug</h2>
		<h3><i>games tech student since september 2022!</i></h3>
		<p>Hi, I'm avery, and I like making dumb stuff for fun in my spare time, like this website!</p>
		<ul class="links">
			<li><a href="mailto:quagsirus@catpowered.net">email</a></li>
			<li><a href="https://github.com/quagsirus">github</a></li>
			<li><a href="https://t.me/quagsirus">telegram</a></li>
		</ul>
	</div>
</body>

</html>