<!DOCTYPE html>
<html lang="en">

<head>
	{% include "includes/head.shtml" with title="me"%}
	<meta name="description" content="my contact info and external links">
</head>

<body>
	{% include "includes/background.shtml" with specific="cats" %}
    {% include "includes/navbar.shtml" with title="about me!" %}
	<div class="content">
		<h2>Thomas Palmer</h2>
		<h3><i>games tech student since september 2022!</i></h3>
		<h3>a.k.a tom, quag, debug, avery, and catpowered elsewhere</h3>
		<p>You found me! Click over to the projects page to view my portfolio, but in the meantime, here are the best ways to get in touch with me:</p>
		<ul class="links">
			<li><a href="mailto:hello@catpowered.net">email</a></li>
			<li><a href="https://t.me/quagsirus">telegram</a></li>
			<li><a href="https://github.com/quagsirus">github</a></li>
		</ul>
	</div>
</body>

</html>