<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.shtml" with title="don't miss the bell"%}
    <meta name="description" content="project: don't miss the bell">
</head>

<body>
    {% include "includes/background.shtml" with specific="cats" %}
    {% include "includes/navbar.shtml" with title="don't miss the bell" %}
    <div class="content">
        <h4><i>parkour game with replay system</i></h4>
        <a href="https://catpowered.itch.io/dont-miss-the-bell">itch.io</a>
        <a href="https://github.com/DontMissTheBell/DontMissTheBell">git repo (game client)</a>
        <a href="https://github.com/DontMissTheBell/dmtb_server">git repo (server)</a>
        <a href="https://blog.catpowered.net/posts/creating-a-binary-format-for-game-replay-data/">blog post (replay format)</a>
        <a href="https://blog.catpowered.net/posts/dmtb-rust-game-server/">blog post (server)</a>
        <br />
        <h2>description</h2>
        <p>A speedrun focused 3D parkour game with an online leaderboard. I built this game in a group of 8 using Unity (C#) and Rust.</p>
        <h2>my contributions</h2>
        <ul>
            <li>designing a binary format to store 'ghosts' (replays) in, and functionality for uploading ghosts to the server, handled mostly within <a class="inline-a" href="https://github.com/DontMissTheBell/DontMissTheBell/blob/main/Assets/Scripts/GhostManager.cs">&lt;this script&gt;</a>.</li>
            <li>complete control over and development of the game server</li>
            <li>applying my knowledge from <i>sins of the squirrels</i> to make a more robust leaderboard in Rust</li>
            <li>setting up lighting and post processing in unity</li>
            <li>managing version control and providing support to teammates when they ran into problems merging</li>
            <li>designing main menu and leaderboard ui and programming related functionality</li>
            <li>building and publishing the game for multiple platforms</li>
        </ul>
    </div>
</body>

</html>