<!DOCTYPE html>
<html lang="en">

<head>
	{% include "includes/head.shtml" with title="projects"%}
	<meta name="description" content="all of my projects that i'm proud enough of to talk about">
</head>

<body>
	{% include "includes/background.shtml" with specific="cats" %}
    {% include "includes/navbar.shtml" with title="projects" %}
	<div class="content">
		<h2><i>the things i've made!</i></h2>
		<p>Here's where you'll be able to find all the projects I'd like to showcase and write about!</p>
		<a href="projects/parkour-replays">don't miss the bell</a>
		<a href="projects/website">this website</a>
	</div>
</body>

</html>