<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.shtml" with title="don't miss the bell"%}
    <meta name="description" content="project: don't miss the bell">
</head>

<body>
    {% include "includes/background.shtml" with specific="cats" %}
    {% include "includes/navbar.shtml" with title="don't miss the bell" %}
    <div class="content">
        <h4><i>parkour game with replay system</i></h4>
        <a href="https://catpowered.itch.io/dont-miss-the-bell">itch.io</a>
        <a href="https://github.com/DontMissTheBell/DontMissTheBell">git repo (game client)</a>
        <a href="https://github.com/DontMissTheBell/dmtb_server">git repo (server)</a>
        <br />
        <h2>description</h2>
        <p></p>
        <h2>my contributions</h2>
        <p></p>
    </div>
</body>

</html>