<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "includes/head.shtml" with title="minecraft" %}
		<meta name="description" content="details of the currently hosted minecraft server">
	</head>
	<body>
		{% include "includes/background.shtml" %}
		<div class="content">
			<h1><a href="..">minecraft</a></h1>
			<h2>Vanilla / Java 1.18.1+</h2>
			<h3>ip: <i>catpowered.net</i></h3>
			<p>open-to-friends SMP server with minimal modifications</p>
			<ul class="details">
                <li>hosted 24/7 with good connection</li>
			    <li>/tpa</li>
                <li>no-claim griefing protection</li>
				<li>real-time generated 3d world map</li>
			    <li>sleep voting</li>
			</ul>
			<a href="minecraft/map">✨click here to see the world-map!</a>
		</div>
	</body>
</html>
