<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "includes/head.shtml" with title="quag"%}
		<meta name="description" content="about catpowered - what is it?">
	</head>
	<body>
		{% include "includes/background.shtml" %}
		<div class="content">
			<h1><a href="..">about</a></h1>
			<h2>what is catpowered.net</h2>
			<p>back in 2019, i decided having my own website would be pretty neat, and catpowered.net seemed like a cool domain name to have, so i went with that
            (shoutout to my cat)<br>
            it started off just as an easy way for me to link people i met online to my discord server and teach myself (extremely basic) css and html<br>
            since then, it's evolved into a name i use for a bunch of services and groups just cause it kinda stuck well<br>
            i've been able to use it as an excuse to learn about cloudflare, page optimisation and server management, since i host everything myself too</p>
            <h2>f.a.q.</h2>
            <h3>am i allowed to join your minecraft server?</h3>
            <p>yes, please do! i intend to keep it hosted for many years to come, and it would be cool to have a bunch of stuff to look around on it :)</p>
            <h3>what's the video downloader?</h3>
            <p>i can't take any of the credit for making it, i'm just hosting an instance of <a href="https://github.com/wukko/cobalt">cobalt</a>, made by wukko, to share with my friends, and to take some of the strain off of wukko's server</p>
            <h3>what other services are you hosting?</h3>
            <p>i'm hosting my personal mail server, a plex server, discord bots for anyone who asks, and the community minecraft server</p>
		</div>
	</body>
</html>
