<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/head.shtml" with title="sea of thieves"%}
    <meta name="description" content="project: sea of thieves">
</head>

<body>
    {% include "includes/background.shtml" with specific="cats" %}
    {% include "includes/navbar.shtml" with title="sea of thieves" %}
    <div class="content">
        <h4><i>one year internship at Rare (July 2024 - July 2025)</i></h4>
        <a href="https://www.seaofthieves.com/">website</a>
		<a href="https://store.steampowered.com/app/1172620/">steam</a>
        <br />
        <h2>description</h2>
        <p>I spent my internship at Rare as a Live Services software engineer working on Sea of Thieves, using mainly C# but with some C++ work too.</p>
        <h2>my contributions</h2>
        <ul>
            <li>designing, creating, and maintaining RESTful microservices core to the game's functions</li>
            <li>🌈 added the <a class="inline-a" href="https://seaofthieves.wiki.gg/wiki/Progress_Pride_Flag">progress pride flag</a> to the game, which required designing and implementing new geo-blocking tech to ensure legal compliance globally</li>
            <li>working with QA teams to resolve issues quickly ahead of launch</li>
            <li>querying (KQL) live data to identify issues, monitor the success of new features, and catch cheaters</li>
        </ul>
    </div>
</body>

</html>