<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "includes/head.shtml" with title="lost" %}
		<meta name="robots" content="noindex">
		<meta name="description" content="contact information for returning found-lost devices">
	</head>
	<body>
        {% include "includes/background.shtml" %}
		<div class="content">
			<h1>You found one of my devices!</h1>
			<p>Firstly, thank you for getting this far!</p>
			<p>If you'd like to be an absolute hero, please contact me via one of the following methods so we can arrange getting my device back to me, and possibly getting you a reward!</p>
			<ul class="links">
				<li><a href="tel:+447490760401">phone</a> (+44 7490760401)</li>
				<li><a href="https://t.me/quagsirus">telegram</a> (@quagsirus)</li>
				<li>discord (quagsirus#7098)</li>
				<li><a href="mailto:quagsirus@catpowered.net">email</a> (quagsirus@catpowered.net)</li>
			</ul>
		</div>
	</body>
</html>
