<!DOCTYPE html>
<html lang="en">

<head>
	{% include "includes/head.shtml" with title="me"%}
	<meta name="description" content="my contact info and external links">
</head>

<body>
	{% include "includes/background.shtml" with specific="cats" %}
    {% include "includes/navbar.shtml" with title="about me!" %}
	<div class="content">
		<h2>Thomas Palmer</h2>
		<h3><i>games tech student since september 2022!</i></h3>
		<h3>a.k.a tom, quagsirus, debugproto, avery, and catpowered elsewhere</h3>
		<p>You found me! Click over to the projects page to view my portfolio.</p>
		<p>If you like what I do, I'd love to hear from you! Drop me an email!</p>
		<ul class="links">
			<li><a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x68;&#x65;&#x6C;&#x6C;&#x6F;&#x40;&#x63;&#x61;&#x74;&#x70;&#x6F;&#x77;&#x65;&#x72;&#x65;&#x64;&#x2E;&#x6E;&#x65;&#x74;">email</a></li>
			<li><a href="https://github.com/quagsirus">github</a></li>
			<li><a href="https://git.catpowered.net/avery">git (self-hosted)</a></li>
			<li><a href="https://signal.me/#eu/tlr4BqZnuKklWwYAeeYhKb1mzCvQ-xt4Yum9oA7PdM3rWCs0ZhtA_K6D82I-swmK">signal</a></li>
		</ul>
	</div>
</body>

</html>